
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
button {
  margin-top:0;
  margin-bottom: 30px;

}


.mat-h1{

}
.chip-list{
  position: absolute;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  display:flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
}

img {
  float: left;
  background-color: black;
  margin-right: 10px;
}
p{
  margin-left: 15px;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
 }