<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        

          <div *ngIf="card.title=='Card 1'">
              <img mat-card-image src="assets/img_london.jpg" 
              style="width:300px;height:220px;margin-left:10px;"
              >
           <p>
              New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
              Population: 8.623 million (2017)
              Mayor: Bill de Blasio
              Local time: Sunday 9:03 AM
              Weather: 30°F (-1°C), Wind NE at 5 mph (8 km/h), 60% Humidity
              Plan a tri
           </p>
        </div>


        <div *ngIf="card.title=='Card 2'">
            <img mat-card-image src="assets/img_london.jpg" 
            style="width:300px;height:220px;margin-left:10px;"
            >
         <p>
            New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
            Population: 8.623 million (2017)
            </p>
      </div>



      <div *ngIf="card.title=='Card 3'">
          <img mat-card-image src="assets/img_london.jpg" 
          style="width:300px;height:220px;margin-left:10px;"
          >
       <p>
         
New York
City
Clockwise, from top: Midtown Manhattan, Times Square, the Unisphere, the Brooklyn Bridge, Lower Manhattan with One World Trade Center, Central Park, the headquarters of the United Nations, and the Statue of Liberty
Clockwise, from top: Midtown Manhattan, Times Square, the Unisphere, the Brooklyn Bridge, Lower Manhattan with One World Trade Center, Central Park, the headquarters of the United Nations, and the Statue of Liberty
Flag of New York
Flag	Official seal of New York
Seal
Official logo of New York
Wordmark
Nickname(s): See Nicknames of New York City
Wikimedia | © OpenStreetMap
Interactive map outlining New York City
New York is located in New YorkNew YorkNew York
Location within the State of New York
Show map of New York
Show map of the United States
Show map of North America
Show all
Coordinates: 40°42′46″N 74°00′21″WCoordinates: 40°42′46″N 74°00′21″W[1]
Country	 United States
State	 New York
Region	Mid-Atlantic
Constituent counties / (boroughs)	Bronx (The Bronx)
Kings (Brooklyn)
New York (Manhattan)
Queens (Queens)
Richmond (Staten Island)
Historic colonies	New Netherland
Province of New York
Settled	1624
Consolidated	1898
Named for	James, Duke of York
Government[2]
 • Type	Mayor–Council
 • Body	New York City Council
 • Mayor	Bill de Blasio (D)
Area[1]
 • Total	468.484 sq mi (1,213.37 km2)
 • Land	302.643 sq mi (783.84 km2)
 • Water	165.841 sq mi (429.53 km2)
 • Metro	13,318 sq mi (34,490 km2)
Elevation[3]	33 ft (10 m)
Population (2010)[6]
 • Total	8,175,133
 • Estimate (2017)[7]	8,622,698
 • Rank	1st, U.S.
 • Density	28,491/sq mi (11,000/km2)
 • MSA (2017)	20,320,876[4] (1st)
 • CSA (2017)	23,876,155[5] (1st)
Demonym(s)	New Yorker
Time zone	UTC−05:00 (EST)
 • Summer (DST)	UTC−04:00 (EDT)
ZIP Codes	
100xx–104xx, 11004–05, 111xx–114xx, 116xx
Area code(s)	212/646/332, 718/347/929, 917
FIPS code	36-51000
GNIS feature ID	975772
Major airports	John F. Kennedy International Airport, Newark Liberty International Airport, LaGuardia Airport
Commuter rail	LIRR, Metro-North.


       </p>
    </div>



    <div *ngIf="card.title=='Card 4'">
        <img mat-card-image src="assets/img_london.jpg" 
        style="width:300px;height:220px;margin-left:10px;"
        >
     <p>
        New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
        Population: 8.623 million (2017)
        Mayor: Bill de Blasio       
     </p>
  </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>