
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div *ngIf="results==null" class="spinner">  <mat-spinner mode="indeterminate" aria-label="test"> </mat-spinner></div>
  <mat-grid-list cols="3" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of results" [colspan]="1" [rowspan]="1">
       
      <mat-card class="dashboard-card">
        <mat-card-header>
          
         <button mat-button class="mat-card-title" color="primary">{{card.artistName}}</button>
         
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
        
          <img mat-card-image src={{card.artworkUrl100}}   style="width:300px;height:200px;margin-left:10px;">
        
        
             <mat-chip-list class="div1">
                <mat-chip color="primary" selected> {{card.name.length>=16?card.name.substring(0,15):card.name}} </mat-chip>
                <mat-chip color="warn" selected> {{card.kind}} </mat-chip>
                <mat-chip color="accent" selected> {{card.releaseDate}} </mat-chip>
              </mat-chip-list>
                
        

          <!-- <div *ngIf="card.title=='Card 1'">
              <img mat-card-image src={{card.artworkUrl100}}   style="width:300px;height:220px;margin-left:10px;">
           <p>              New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
              Population: 8.623 million (2017)
              Mayor: Bill de Blasio
              Local time: Sunday 9:03 AM
              Weather: 30°F (-1°C), Wind NE at 5 mph (8 km/h), 60% Humidity
              Plan a tri
           </p>
        </div>


        <div *ngIf="card.title=='Card 2'">
            <img mat-card-image src="https://images.musement.com/default/0001/49/thumb_48755_default_header.jpeg" 
            style="width:300px;height:220px;margin-left:10px;"
            >
         <p>
            New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
            Population: 8.623 million (2017)
            </p>
      </div>



      <div *ngIf="card.title=='Card 3'">
          <img mat-card-image src="https://images.musement.com/default/0001/49/thumb_48751_default_header.png" 
          style="width:300px;height:220px;margin-left:10px;"
          >
       <p>
         
New York
City
Clockwise, from top: Midtown Manhattan, Times Square, the Unisphere, the Brooklyn Bridge, Lower Manhattan with One World Trade Center, Central Park, the headquarters of the United Nations, and the Statue of Liberty
Clockwise, from top: Midtown Manhattan, Times Square, the Unisphere, the Brooklyn Bridge, Lower Manhattan with One World Trade Center, Central Park, the headquarters of the United Nations, and the Statue of Liberty
Flag of New York
Flag	Official seal of New York
Seal
Official logo of New York
Wordmark
Nickname(s): See Nicknames of New York City
Wikimedia | © OpenStreetMap
Interactive map outlining New York City
New York is located in New YorkNew YorkNew York
Location within the State of New York
Show map of New York
Show map of the United States
Show map of North America
Show all
Coordinates: 40°42′46″N 74°00′21″WCoordinates: 40°42′46″N 74°00′21″W[1]
Country	 United States
State	 New York
Region	Mid-Atlantic
Constituent counties / (boroughs)	Bronx (The Bronx)
Kings (Brooklyn)
New York (Manhattan)
Queens (Queens)
Richmond (Staten Island)
Historic colonies	New Netherland
Province of New York
Settled	1624

      </p>
    </div>

    <div *ngIf="card.title=='Card 4'">
        <img mat-card-image src="https://images.musement.com/default/0001/49/thumb_48754_default_header.jpeg" 
        style="width:300px;height:220px;margin-left:10px;"
        >
     <p>
        New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.
        Population: 8.623 million (2017)
        Mayor: Bill de Blasio       
     </p>
  </div> -->

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>