
@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-grey, 200);
$brandColor: #F06D06;
  .bg-img {
    background-image: url("https://images.musement.com/cover/0002/49/thumb_148242_cover_header.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    

  }
  
  /* Add styles to the form container */
  .login-form {
position: absolute;
right: 0;
margin-top: 10px;
//margin: 10px;
width: 200px;
//padding: 8px 13px 12px 37px;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 20px;
padding-left: 10px;
background-color: mat-color($primary);
border: 2px solid grey;
border-radius: 8px;
color: black;
  }
  
  /* Full-width input fields */
 .input  {
    width: 100%;
    padding: 1px 28px;
    margin: 1px 0;
    border: none;
    right: 1;
    background: black;
   }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: black;
    outline: none;

  }
  
  /* Set a style for the submit button */
  .btn {
    //background-color: mat-color($primary);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    height: 100%;
  }
  
  .btn:hover {
    opacity: 1;
  }

h3{
    margin-top: 5px;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 100%;
}