<div class="bg-img">
    <div class="login-form">
      <!-- <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw" color="primary" ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <p>
          <mat-form-field appearance="standard">
            <mat-label>Standard form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p> -->

        <h3> Login Form </h3>
       
        <mat-form-field appearance="outline">
            
            <mat-label>username</mat-label>
            <input matInput placeholder="username">
            
            
          </mat-form-field>

        <mat-form-field appearance="outline">
            
            <mat-label>Password</mat-label>
            <input matInput placeholder="password">
            
          </mat-form-field>
  

      <button color="primary" class="btn" mat-raised-button (click)="onClick">Login</button>
    </div>
  </div>
